<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kareostudio" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>College Hub</name>
    <description>College Hub - Your one-stop college app</description>
    <author email="dev@kareostudio.com" href="https://kareostudio.com">Kareo Studio</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Android SDK versions - API 34 (Android 14) -->
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />
    <preference name="AndroidXEnabled" value="true" />
    
    <!-- Screen fitting -->
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="BackgroundColor" value="0xFFFFFFFF" />
    <preference name="KeepRunning" value="true" />
    
    <!-- Status bar -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <!-- Splash Screen -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="SplashScreenDelay" value="2000" />
    
    <!-- Icon -->
    <icon src="res/icon.png" />
    
    <platform name="android">
        <icon src="res/icon.png" density="ldpi" />
        <icon src="res/icon.png" density="mdpi" />
        <icon src="res/icon.png" density="hdpi" />
        <icon src="res/icon.png" density="xhdpi" />
        <icon src="res/icon.png" density="xxhdpi" />
        <icon src="res/icon.png" density="xxxhdpi" />
    </platform>
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    
    <preference name="loadUrlTimeoutValue" value="70000" />
</widget>
